<h2 style="font-size: 1.2em; padding-top: 4px; font-weight: bold; text-align: center;">コメント</h2>
<div style="max-width: 800px; margin-left: auto; margin-right: auto; margin-top: 8px;">
<div style="font-size: small; text-align: right;"><p style="margin-bottom: 0;"><a href="https://gravatar.com/" target="new">Gravatar</a> 対応</p></div>
<div id="hashover"></div>
<script type="text/javascript" src="https://gohan.ocoge.club/hashover/comments.php"></script>
<noscript>You must have JavaScript enabled to use the comments.</noscript>
</div>